// Colors (light-mode)

$color-text-primary: rgba(29, 29, 29, 1);
$color-text-accent: rgba(140, 140, 140, 1);
$color-background-main: rgba(248, 248, 247, 1);
$color-background-soft: rgba(251, 224, 220, 1);
$color-background-additional: rgba(255, 255, 255, 1);
$color-nav-button-default: rgba(255, 255, 255, 1);

$color-btn-pink: rgba(255, 134, 142, 1);
$color-btn-pink-light: rgba(255, 134, 142, 0.3);

$color-btn-green: rgba(151, 234, 185, 1);
$color-btn-green-light: rgba(151, 234, 185, 0.3);

$color-btn-yellow: rgba(255, 210, 128, 1);
$color-btn-yellow-light: rgba(255, 210, 128, 0.3);

// Colors (dark-mode)

$color-text-primary-dark: rgba(255, 255, 255, 1);
$color-background-main-dark: rgba(29, 29, 29, 1);
$color-background-soft-dark: rgba(41, 41, 41, 1);
$color-background-additional-dark: rgba(51, 51, 51, 1);
$color-icon-dark: rgba(80, 60, 61, 1);
$color-border-dark: rgba(138, 97, 98, 1);

// Fonts
$font-primary: "Jost", sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 500;
